<%= error_messages_for(f.object) %>
  <table summary="Shift form fields" >
  <tr>
    <th>Day</th>
    <td><%= f.select :day, Shift.days.keys.map { |w| [w.humanize, w] } %></td>
  </tr>
    <tr>
    <th>Start Time</th>
    <td><%= f.time_field :start_time,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss'%>
    </td>
  </tr>
   </tr>
    <tr>
    <th>End Time</th>
    <td><%= f.time_field :end_time,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss'%>
    </td>
  </tr>
    <tr>
    <td> <%= f.hidden_field :member_id, value: @member.id %></td>
  </tr>
</table>